.smart-energy-main{
  padding:50px;
}

.filters{
  padding:0px;
  margin-top:40px;
  justify-content: space-between;
}
.chart-container-left{
  width:60%;
  height:100%;
}
.chart-container-right{
  width:40%;
  height:100%;
}

/* Select Box */
.custom-select-56{
  height:56px;
  border: 1px solid #E1E1E1;
  padding-left: 16px;
  padding-right: 16px;
  width: 276px;

}

.custom-select-56-inactive{
  height:56px;
  border: 1px solid #E1E1E1;
  background-color:#fafafa !important;
  padding-left: 16px;
  padding-right: 16px;
}

.custom-select-56-error{
  height:56px;
  border: 1px solid #e0724f;
  padding-left: 16px;
  padding-right: 16px;
}
/************/

.mat-form-field-custom{
  background-color:#FAFAFA;
  border-radius:15px;
}
/* Buttons */
.btn_zone_active{
  width: 100px !important;
   height: 44px !important;

  text-transform: none;
  border-radius: 5px;
  border: 1px solid #66A19C;
  background-color: white;
  color: #66A19C;
  font-size:16px;
  font-weight: 500;
  line-height: 0.5em;
}

.btn_zone_inactive{
  width: 100px !important;
  // height: 44px !important;
  text-transform: none;
  height: 44px;
  line-height: 0.5em;
  background-color:#FFFFFF;
  font-size:16px;
  font-weight: 500;
  border: 1px solid #DFDFDF;
  color: #B0B4B4;
  border-radius: 5px;
}
/************/

.custom-classic-tabs{
  margin-top:-30px;
}

.chart-container{
  height:400px;
}

.analytics{
  height:inherit;
}

.analytics-content{
  height:inherit;
  display: flex;
  flex-direction: column;
  padding-top: 130.37px;
  padding-bottom: 171.37px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color:white;
}

.card-network{
  display: flex;
  margin-top: 20px;
  height: 71px;
  width: 210px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.card-network-active{
  display: flex;
  margin-top: 20px;
  height: 71px;
  width: 210px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #FFFFFF;
  cursor: pointer;
  border:1px solid #66A19C !important;
}

.card-details{
  padding: 15px;
}

.card-name{
  white-space: wrap;
  text-align: left;
  font-size: 18px;
  color: #212121;
  font-weight: 500;
}

.empty-state-sub-title{
  font-size: 24px;
  color: #212121;
  font-family: 'Quicksand', sans-serif;
  margin-left:-93px;
}

#modalNetworks {
  .modal-info{
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #757575 !important;
  }
  .modal-title {
    margin-bottom: 0 !important;
    line-height: 1.5 !important;
    font-size: 26px !important;
    font-weight: 600 !important;
    color: #212121 !important;
    font-family: 'Quicksand', sans-serif;

  }

  .modal-dialog-centered{
    width: 540px;
  }
  .modal-body{
    overflow-y: auto !important;
    // height:475px !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
    // background-color:#FAFAFA !important;
  }
  .modal-header{
    // background-color: #FAFAFA !important;
    border-bottom: 0px !important;
    padding: 0px !important;
  }

  // .modal-content{
  //   overflow: auto;
  //   padding:50px !important;
  //   background-color:#FAFAFA !important;
  // }
  .modal-content{
    overflow: auto;
    padding:50px !important;
    background-color:#FAFAFA !important;
  
  // height: 680px;
  // margin-top: 75px;
  // margin-left: 520px;
  // margin-right: 520px;
  // margin-bottom: 74px;
  border-radius: 5px;
  border-color: #FAFAFA;
}

  .image{
    // margin-top: -8px;
    width:42px ;
    height:42px;
  }
  .box {
    float: right !important;
  }
    .close {
      margin-top:-25px;
      cursor:pointer;
    }
}

//linechart
.btn-group > .btn, .btn-group-vertical > .btn {
  height:44px !important;
  text-align: left;
  padding:12px;
  text-transform: none;
  color:#212121;
  font-family: 'Quicksand', sans-serif;
  font-size:16px;
  font-weight: 500;
  border : 1px solid #DFDFDF;
}
.custom-dropdown-menu{
  margin-top: 25px;
  box-shadow: 0 0 15px rgba(33,33,33,.05)!important;
  border:none;
}
.dropdown-menu {
 width:100%;
  max-height:350px;
 overflow-y: scroll;
 margin-top:25px;
 box-shadow: 0px 0px 15px rgba(33, 33, 33, 5%) !important;
}
.dropdown-item {
 color:#212121 !important;
  font-family: 'Quicksand', sans-serif;
  font-size:14px;
  font-weight: 500;
  height: 54px;
 line-height: 54px;
}
