.smart-energy-main{
  padding:50px;
}
.filters{
  padding:0px;
  margin-top:40px;
  justify-content: space-between;
}
.profile-image{
  border-radius: 50px;
}
.card-details{
  padding: 15px;
}
.col-network{
  display: flex;
  margin-top: 20px;
  height: 71px;
  width: 210px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.col-network-active{
  display: flex;
  margin-top: 20px;
  height: 71px;
  width: 210px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #FFFFFF;
  cursor: pointer;
  border:1px solid #66A19C !important;
}

.custom-select-56{
  height:56px;
  border: 1px solid #E1E1E1;
  padding-left: 16px;
  padding-right: 16px;
  width: 276px;
}

.custom-select-56-inactive{
  height:56px;
  border: 1px solid #E1E1E1;
  background-color:#fafafa !important;
  padding-left: 16px;
  padding-right: 16px;
}

.custom-select-56-error{
  height:56px;
  border: 1px solid #e0724f;
  // background-color:#fafafa !important;
  padding-left: 16px;
  padding-right: 16px;
}

#framenetwork {
  .modal-info{
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #757575 !important;
  }
  .modal-title {
    margin-bottom: 0 !important;
    line-height: 1.5 !important;
    font-size: 26px !important;
    font-weight: 600 !important;
    color: #212121 !important;
    font-family: 'Quicksand', sans-serif;

  }

  .modal-dialog-centered{
    width: 540px;
  }
  .modal-body{
    overflow-y: auto !important;
    // height:475px !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
    // background-color:#FAFAFA !important;
  }
  .modal-header{
    // background-color: #FAFAFA !important;
    border-bottom: 0px !important;
    padding: 0px !important;
  }

  // .modal-content{
  //   overflow: auto;
  //   padding:50px !important;
  //   background-color:#FAFAFA !important;
  // }
  .modal-content{
    overflow: auto;
    padding:50px !important;
    background-color:#FAFAFA !important;
  
  // height: 680px;
  // margin-top: 75px;
  // margin-left: 520px;
  // margin-right: 520px;
  // margin-bottom: 74px;
  border-radius: 5px;
  border-color: #FAFAFA;
}

  .image{
    // margin-top: -8px;
    width:42px ;
    height:42px;
  }
  .box {
    float: right !important;
    // width: 50% !important;
    // margin-top: -12px;
    // padding: 20px !important;
  }
  // .count_network{
  //   display:block !important;
  //   margin-top: 15px !important;
  //   margin-left: 30px !important;
  //   line-height: 1 !important;
  // }
  // .modal-content:not(.card-image) .close {
  //   position: absolute !important;
  //   right: 25px !important;
  //   top: 25px !important;
  // }
    .close {
      margin-top:-25px;
      cursor:pointer;
    }
}



.btn_zone_active{
  width: 100px !important;
   height: 44px !important;

  text-transform: none;
  border-radius: 5px;
  border: 1px solid #66A19C;
  background-color: white;
  color: #66A19C;
  font-size:16px;
  font-weight: 500;
  line-height: 0.5em;
}

.btn_zone_inactive{
  width: 100px !important;
  // height: 44px !important;
  text-transform: none;
  height: 44px;
  line-height: 0.5em;
  background-color:#FFFFFF;
  font-size:16px;
  font-weight: 500;
  border: 1px solid #DFDFDF;
  color: #B0B4B4;
  border-radius: 5px;
}
.energy-consumption{
padding: 50px;
padding-top: 50px;
padding-top: 0px;
min-height: calc(100vh - 90px);
}
.flexbox-div{
  flex: 1 1 0px;
}
.component{
  // background-color: white;
  margin-top:55px;
}

.frame{
  width: 56px !important;
  height: 56px !important;
    vertical-align: middle;
  text-align: center;
  display: table-cell;
}
.product-description{
  width:60%;
}
.product-name{
  white-space: wrap;
  text-align: left;
  margin-left:25px;
  font-weight: 400;
  font-size: 28px;
  color: #454E57;
}
.network-name{
  white-space: wrap;
  text-align: left;
  font-size: 28px;
  color: #454E57;
  font-weight: 600;
}
.count-name{
  white-space: wrap;
  text-align: left;
  margin-left:25px;
  font-weight: 500;
  font-size: 13px;
  margin-top: -5px;
  color: #757575;

}
.chip-data{
  color: #757575;
  height: 10px;
  margin: 5px;
}
.resource_zones{
  background-color: white;
  margin-right:30px;
  padding:30px;
}
.device_zones{
  background-color: white;
  padding:30px;
}
.heading{
  font-size: 22px;
  color: #454E57;
  font-weight: 500;
}
