<div style="height: 100%;padding:20px" class="bg-white">
	<div class="d-flex" style="justify-content:space-between">
		<label class="title">{{ title }}</label>
		<div>
			<div mdbDropdown class="btn-group xcol-4 mr-3" style="width:145px">
				<button style="height:44px;" id="custom-dropdown-toggle2" mdbDropdownToggle type="button" mdbBtn
					class="form-control" mdbWavesEffect>
					<span class="dropdown-btn-text"><img class="img-firmware mr-2" style="margin-top:-2px"
							src="../../../assets/scalableVectorGraphics/dot-green.svg">{{this.startMonth}}</span>
					<span xngIf="this.mode != 'edit'" class="dropdown-toggle" style="float:right">
					</span>
				</button>
				<div class="dropdown-menu custom-dropdown-menu">
					<a class="dropdown-item" (click)="selectStartDate(option)" *ngFor="let option of options">{{option.label}}</a>
				</div>
			</div>
			<div mdbDropdown class="btn-group" style="width:145px;">
				<button style="height:44px;" id="custom-dropdown-toggle2" mdbDropdownToggle type="button" mdbBtn
					class="form-control" mdbWavesEffect>
					<span class="dropdown-btn-text"><img class="img-firmware mr-2" style="margin-top:-2px"
							src="../../../assets/scalableVectorGraphics/dot-yellow.svg">{{this.endMonth}}</span>
					<span xngIf="this.mode != 'edit'" class="dropdown-toggle" style="float:right">
					</span>
				</button>
				<div class="dropdown-menu custom-dropdown-menu">
					<a class="dropdown-item" (click)="selectEndDate(option)" *ngFor="let option of options">{{option.label}}</a>
				</div>
			</div>
		</div>
	</div>
	<div id="graph">
		<div *ngIf="ready === false" class="d-flex justify-content-center text-dark">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<canvas *ngIf="ready && showChart" baseChart style="height:250px" [datasets]="chartData" [labels]="chartLabels"
			[options]="chartOptions" [colors]="barChartColors" [chartType]="chartType">
		</canvas>
	</div>
</div>