.chart {
    margin-top:0px !important;
    background-color: white;
    padding:20px;
  }
  .title{
    font-size: 22px;
    font-weight: 500;
    color:#454E57;
      margin-bottom:25px;
  }
.total{
  font-size:42px;
  font-weight:bold;
  color: #212121;
}
.progress-bar{
  background-color: #66A19C !important;
}
.card-resource{
  margin-top:30px;
    height:159px;
    width:400px;
    background-color: white;
    border-radius:5px;
    margin-right:30px;
    padding:16px;
    cursor:pointer;
}
.resource-name{
font-size: 16px;
font-weight: 500;
color:#212121;
}

.resource-value{
font-size: 36px;
font-weight: 600;
color:#212121;
margin-top:20px;
}

.progress-name{
  font-size: 16px;
  font-weight: 500;
  color:#757575;

}
.progress-data{
  font-size: 16px;
  font-weight: 500;
  color:#212121;
}

#rules_resourcesModal{
  .modal-content{
    padding:50px !important;
    width: 1000px !important;
    // height: 655px !important;
    background-color: #FAFAFA !important;
  }
  .modal-header{
    padding:0px !important;
    // padding-top:-50px !important;
    border: none;
    // height: 86px;
  }
  .modal-body{
    padding:0px !important;
  }
  .modal-dialog-centered{
    width: inherit !important;
    width: 850px !important;
  }

}
.btn_zone_active{
    width: 100px !important;
     height: 44px !important;

    text-transform: none;
    border-radius: 5px;
    border: 1px solid #66A19C;
    background-color: white;
    color: #66A19C;
    font-size:16px;
    font-weight: 500;
    line-height: 0.5em;
}

.btn_zone_inactive{
  width: 100px !important;
  // height: 44px !important;
  text-transform: none;
  height: 44px;
  line-height: 0.5em;
  background-color:#FFFFFF;
  font-size:16px;
  font-weight: 500;
  border: 1px solid #DFDFDF;
  color: #B0B4B4;
  border-radius: 5px;
}
.title-div{
  height:105px;
  overflow: visible;
  white-space: nowrap;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: rgba(69,78,87,1);
}
.cp {
  margin: 0;
  padding-bottom: 70px;
  position: relative;
  border-bottom: 2px solid #F5F5F5;
  width:100%;
  display: inline-block;
}
.cp:before {
  position: absolute;
  background: #66A19C;
  height: 2px;
  content: '';
  width: 100px;
  bottom: -2px;
  left: 5;
}
#graph{
  position: relative;
  height: 100%;
  width: 100% !important;
}
canvas {
  width: 100% !important;
}
// .chart {
//     margin-top:0px !important;
//     background-color: white;
//     padding:20px;
//   }
//   .title{
//     font-size: 22px;
//     font-weight: 500;
//     color:#454E57;
//       margin-bottom:25px;
//   }
// .total{
//   font-size:42px;
//   font-weight:bold;
//   color: #212121;
// }
// .progress-bar{
//   background-color: #66A19C !important;
// }
// .card-resource{
//   margin-top:30px;
//     height:159px;
//     width:400px;
//     background-color: white;
//     border-radius:5px;
//     margin-right:30px;
//     padding:16px;
//     cursor:pointer;
// }
// .resource-name{
// font-size: 16px;
// font-weight: 500;
// color:#212121;
// }
//
// .resource-value{
// font-size: 36px;
// font-weight: 600;
// color:#212121;
// margin-top:20px;
// }
//
// .progress-name{
//   font-size: 16px;
//   font-weight: 500;
//   color:#757575;
//
// }
// .progress-data{
//   font-size: 16px;
//   font-weight: 500;
//   color:#212121;
// }
//
// #rules_resourcesModal{
//   .modal-content{
//     padding:50px !important;
//     width: 1000px !important;
//     // height: 655px !important;
//     background-color: #FAFAFA !important;
//   }
//   .modal-header{
//     padding:0px !important;
//     // padding-top:-50px !important;
//     border: none;
//     // height: 86px;
//   }
//   .modal-body{
//     padding:0px !important;
//   }
//   .modal-dialog-centered{
//     width: inherit !important;
//     width: 850px !important;
//   }
//
// }
// .btn_zone_active{
//     width: 100px !important;
//      height: 44px !important;
//
//     text-transform: none;
//     border-radius: 5px;
//     border: 1px solid #66A19C;
//     background-color: white;
//     color: #66A19C;
//     font-size:16px;
//     font-weight: 500;
//     line-height: 0.5em;
// }
//
// .btn_zone_inactive{
//   width: 100px !important;
//   // height: 44px !important;
//   text-transform: none;
//   height: 44px;
//   line-height: 0.5em;
//   background-color:#FFFFFF;
//   font-size:16px;
//   font-weight: 500;
//   border: 1px solid #DFDFDF;
//   color: #B0B4B4;
//   border-radius: 5px;
// }
// .title-div{
//   height:105px;
//   overflow: visible;
//   white-space: nowrap;
//   text-align: left;
//   font-family: 'Quicksand', sans-serif;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 28px;
//   color: rgba(69,78,87,1);
// }
// .cp {
//   margin: 0;
//   padding-bottom: 70px;
//   position: relative;
//   border-bottom: 2px solid #F5F5F5;
//   width:100%;
//   display: inline-block;
// }
// .cp:before {
//   position: absolute;
//   background: #66A19C;
//   height: 2px;
//   content: '';
//   width: 100px;
//   bottom: -2px;
//   left: 5;
// }
// #graph{
//   position: relative;
//   height: 100%;
//   width: 100% !important;
// }
// canvas {
//   width: 100% !important;
// }

// .chart {
//     margin-top:0px !important;
//     background-color: white;
//     padding:20px;
//   }
//   .title{
//     font-size: 22px;
//     font-weight: 500;
//     color:#454E57;
//       margin-bottom:25px;
//   }
// .total{
//   font-size:42px;
//   font-weight:bold;
//   color: #212121;
// }
// .progress-bar{
//   background-color: #66A19C !important;
// }
// .card-resource{
//   margin-top:30px;
//     height:159px;
//     width:400px;
//     background-color: white;
//     border-radius:5px;
//     margin-right:30px;
//     padding:16px;
//     cursor:pointer;
// }
// .resource-name{
// font-size: 16px;
// font-weight: 500;
// color:#212121;
// }
//
// .resource-value{
// font-size: 36px;
// font-weight: 600;
// color:#212121;
// margin-top:20px;
// }
//
// .progress-name{
//   font-size: 16px;
//   font-weight: 500;
//   color:#757575;
//
// }
// .progress-data{
//   font-size: 16px;
//   font-weight: 500;
//   color:#212121;
// }
//
// #rules_resourcesModal{
//   .modal-content{
//     padding:50px !important;
//     width: 1000px !important;
//     // height: 655px !important;
//     background-color: #FAFAFA !important;
//   }
//   .modal-header{
//     padding:0px !important;
//     // padding-top:-50px !important;
//     border: none;
//     // height: 86px;
//   }
//   .modal-body{
//     padding:0px !important;
//   }
//   .modal-dialog-centered{
//     width: inherit !important;
//     width: 850px !important;
//   }
//
// }
// .btn_zone_active{
//     width: 100px !important;
//      height: 44px !important;
//
//     text-transform: none;
//     border-radius: 5px;
//     border: 1px solid #66A19C;
//     background-color: white;
//     color: #66A19C;
//     font-size:16px;
//     font-weight: 500;
//     line-height: 0.5em;
// }
//
// .btn_zone_inactive{
//   width: 100px !important;
//   // height: 44px !important;
//   text-transform: none;
//   height: 44px;
//   line-height: 0.5em;
//   background-color:#FFFFFF;
//   font-size:16px;
//   font-weight: 500;
//   border: 1px solid #DFDFDF;
//   color: #B0B4B4;
//   border-radius: 5px;
// }
// .title-div{
//   height:105px;
//   overflow: visible;
//   white-space: nowrap;
//   text-align: left;
//   font-family: 'Quicksand', sans-serif;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 28px;
//   color: rgba(69,78,87,1);
// }
// .cp {
//   margin: 0;
//   padding-bottom: 70px;
//   position: relative;
//   border-bottom: 2px solid #F5F5F5;
//   width:100%;
//   display: inline-block;
// }
// .cp:before {
//   position: absolute;
//   background: #66A19C;
//   height: 2px;
//   content: '';
//   width: 100px;
//   bottom: -2px;
//   left: 5;
// }
// #graph{
//   position: relative;
//   height: 100%;
//   width: 100% !important;
// }
// canvas {
//   width: 100% !important;
// }
