<div class="chart" style="height:90%">
	<div>
		<label class="title">{{ title }}</label>
		<div class="card-text text-center">
			<div *ngIf="ready === false" class="d-flex justify-content-center text-dark">
				<div class="spinner-border" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<img *ngIf="this.total != 0" class="ml-2" src="../../../assets/scalable-vector-graphics/half-graph.svg"
				width="60%"><br />
			<label class="total" style="margin-top:-50px">{{total}}</label><br />
			<label *ngIf="this.total != 0"
				style="font-size:26px; font-weight:500;color:#757575; margin-top:15px">Medium</label>
		</div>
	</div>
</div>